{% load static %}
<footer class="block pt-3 mt-4 text-muted border-top">
      <div class="row">
      <nav class="navbar navbar-expand-lg" aria-label="Eighth navbar example">
    <div class="container pr-0">
    <div class="col-7.8">
      <span style="line-height: 3;">
      &copy; Some Rights Reserved
      </span>
      
    </div>
    <div class="col-3.7">
      <div class="navbar-collapse" id="navbarsExample07" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-muted" aria-current="page" href="https://3058.in/files/privacy-policy.html" >Privacy <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
</svg></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-muted" href="https://www.mandc.3058.in/contact"  tabindex="-1" aria-disabled="true">Support <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
</svg> </a>
          </li>
          <li class="nav-item">
            <span class="nav-link text-muted" tabindex="-1" aria-disabled="true">Made with ❤️ by <span class="mandc">Dev</span></span>
          </li>
          <li class="nav-item">
          <a type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" class="nav-link text-muted" tabindex="-1" aria-disabled="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
        <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/></svg>
        </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </nav>
    </div>
    </footer>
