{% load static %}
<div class="offcanvas offcanvas-bottom" style="border-radius: 25px 25px 0px 0px;margin-bottom: -90px;" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  
  <div class="offcanvas-body small mt-1">
    <div align="center">
      <span class="link">
        <a style="text-decoration: none;" href="https://twitter.com/Dev3058">
    <img src="{% static 'signup/icons8-twitter-circled-144.png' %}" width="75px">
  </a>
  </span>
      <span>
        <a style="text-decoration: none;" href="https://in.pinterest.com/mansion3058/">
    <img src="{% static 'signup/icons8-pinterest-144.png' %}" width="68px">
  </a>
  </span>
      <span>
        <a style="text-decoration: none;" href="https://github.com/mansion3058">
    <img src="{% static 'signup/icons8-github-144.png' %}" width="75px" class="ml-2">
  </a>
  </span>
      <span>
        <a style="text-decoration: none;" href="https://www.facebook.com/dev3058">
    <img src="{% static 'signup/icons8-facebook-144.png' %}" width="75px" class="ml-5">
  </a>
  </span>
  
  </div>
  </div>
</div>
