{% extends 'signup-base.html' %}
{% load static %}
{% block head_content %}
<link rel = "stylesheet" href = "{% static 'signup/signup.css' %}">
{% endblock head_content %}
{% block title %}
Reset Password
{% endblock title %}
{% block main_title %}
Change Your Password
{% endblock main_title %}
{% block form_area %} 
{% if messages %}
      {% for message in messages %}
    <div class="alert alert-warning d-flex" role="alert">
       <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
      <div>
          {{message}}
      </div>
   </div>
   {% endfor %}
   {% endif %}
<form method="post" name="signup">
               {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group {% if field.errors or error %}error{% endif %}">
                        {{field}}
                        {{field.errors}}
                  </div>
                  {% endfor %}
                  <div class="text-center pt-1">
                     <button type="submit" class=" btn btn-block send-button tx-tfm">
                        Change My Password
                     </button>
                  </div>
                  <div class="col-md-12 ">
                     <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or"></span>
                     </div>
                  </div>
               <p class="small text-center bottom-text">
                  <a href="{% url 'shortner' %}">
                  Don't want to Change </a> | <a href="">Need Assistance</a></p>

                  <p class="small mt-3">We will encrypt your password in order to maximize security.<a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
               </form>
               
{% endblock form_area %}