{% extends 'signup-base.html' %}
{% load static %}
{% block head_content %}
<link rel = "stylesheet" href = "{% static 'signup/signup.css' %}">
{% endblock head_content %}
{% block title %}Signup Page{% endblock title %}
{% block main_title %} Signup to Join {% endblock main_title %}           
     
     {% block form_area %}     
 {% if messages %}
      {% for message in messages %}
      <a data-bs-dismiss="alert" data-bs-target="#signup-alert">
    <div id="signup-alert" class="alert alert-warning d-flex" role="alert">
       <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
      <div>
          {{message}}
      </div>
   </div>
   </a>
   {% endfor %}
   {% endif %}
               <form method="post" name="signup">
               {% csrf_token %}
                    {% for field in form %}
                  <div class="form-group {% if field.errors %}error{% endif %}">
                        {{field}}
                        {% if field.help_text %}
                        <div class="text-muted small pb-2"> 
                        {{field.help_text}}
                        </div>
                        {% endif %}
                        {{field.errors}}
                        
                     {% comment %} <input type="text" name="name"  class="form-control my-input" id="name" placeholder="Name"> {% endcomment %}
                  </div>
                  {% endfor %}
                  <div class="text-center pt-1">
                     <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
                  </div>
                  <div class="col-md-12 ">
                     <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or"></span>
                     </div>
                  </div>
               <p class="small text-center bottom-text">
               <a href="{% url 'user-login-page' %}">
                  Already have an Account </a> | <a href="">Need Assistance</a></p>

                  <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
                  
               </form>
{% endblock form_area %}

